@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* display: flex; */
  
}

.signin {
  color: ivory;
  text-decoration: none;
}

.main-login {
  display: flex;
  justify-content: center;
}

.main-signin-container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 50px;
  background-color: rgb(234, 233, 233);
  border: 5px solid #4A4E74;
  border-radius: 25px;
  margin-top: 100px;
  padding-bottom: 50px;
}

.PLD-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.google-signin-btn {
  background-color: #4A4E74;
  color: ivory;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 16px;
}


.google-signin-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.google-signin-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.google-signin-btn:hover span {
  padding-right: 25px;
}

.google-signin-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.google-signin-btn:active {
  background-color: #3f4364;
  box-shadow: 0.5px #666;
  transform: translateY(4px);
}
